@model Vidly2.Models.MovieList
@{
	int i = 1;
}

<h1>Movies</h1>
<a href="/movies/new" class="btn btn-primary">New Movie</a>

@if (Model.Movies.Count == 0)
{
	<p>No movies available.</p>
}
else
{
	<table class="table table‐bordered">
		<thead>
		<tr>
			<th>Movies</th>
			<th>Genre</th>
		</tr>
		</thead>
		<tbody>
		
			
		@foreach(var movie in Model.Movies)
		{
			<tr>
					<td class="col-6"><a href="/movies/details/@i">@movie.Name</a></td>
					<td class="col-6">@movie.Name</td>
			</tr>
			i++;
		}
		</tbody>
	</table>
}

