@model Vidly2.Models.MovieList
@{
	int i = 1;
}

<h1>Movies</h1>

@if (Model.Movies.Count == 0)
{
	<p>No movies available.</p>
}
else
{
	<table class="table table‐bordered">
		<thead>
		<tr>
			<th>Movies</th>
		</tr>
		</thead>
		<tbody>
		@foreach(var movie in Model.Movies)
		{
			<tr>
					<td><a href="/movies/details/@i">@movie.Name</a></td>
			</tr>
			i++;
		}
		</tbody>
	</table>
}

