@model Vidly2.Models.Customer

<h1>@Model.Name</h1>
<ul>
	<li><strong>Membership Type:</strong> @Model.MembershipType.Name</li>
	@if (Model.Birthdate != null)
	{
		<li><strong>Birth date:</strong> @Convert.ToDateTime(Model.Birthdate).ToString("MM/dd/yyyy")</li>
	}
</ul>
