@model Vidly2.Models.Customer

<h1>@Model.Name</h1>
<ul>
	<li>Membership Type: @Model.MembershipType.Name</li>
	@if (Model.Birthdate != null)
	{
		<li>Birth date: @Convert.ToDateTime(Model.Birthdate).ToString("MM/dd/yyyy")</li>
	}
</ul>
